@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root{
    --width-section: 1024px;
    --color-darkBlue: #010A13;
    --color-orange: #CD7A13;
    --color-light: #F7EDE2;
    --fontWeight-light: 300;
    --fontWeight-regular: 400;
    --fontWeight-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-darkBlue);
    color: var(--color-light);
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-weight: var(--fontWeight-bold);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

p{
    text-overflow: ellipsis;
}


/* Bootstrap button change */
.btn-primary{
    background-color: var(--color-orange);
    border: var(--color-orange);
}
.btn-primary:hover{
    background-color: var(--color-darkBlue);
    border: var(--color-darkBlue);
    color: var(--color-orange);
}

/* NavBar */
nav.navbar{
    width: var(--width-section);
    margin: auto;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: var(--color-light);
    text-align: end;
}

.navbar a::after{
    content: "|";
    margin-left: 1.5rem;
}

.navbar li:last-child a::after{
    display: none;
}


@media (max-width: 425px) {
    nav.navbar{
        width: 320px;
    }

    .navbar a::after{
        display: none;
    }

    nav.navbar>div.container-fluid{
        display: flex;
        justify-content: flex-end;
    }
}

/* !NavBar */

/* Hero */
#hero{
    height: 100dvh;
    width: var(--width-section);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero div{
    width: var(--width-section);
    margin :auto;
    text-align: center;
}

#hero div h1{
    text-align: center;
    font-size: 8rem;
    font-weight: var(--fontWeight-bold);
    line-height: 6rem;

}
#hero div h1 span.firstName{
    letter-spacing: .5rem;
}

#hero div h2{
    position: relative;
    font-size: 2rem;
    font-weight: var(--fontWeight-light);
    letter-spacing: .9rem;
}
#hero div h2::before{
    content: "";
    width: 70%;
    height: 50px;
    z-index: -1;
    position: absolute;
    translate: 50% 50%;
    top: -70%;
    left: -20%;
    background: var(--color-orange);
    transform: rotate(-1deg);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 425px) {
    #hero , #hero div{
        width: 320px;
    }

    #hero div h1{
        font-size: 4rem;
        line-height: 3rem;
        text-align: center;
    }
    #hero div h2{
        font-size: 1rem;
        letter-spacing: .5rem;
    }

    #hero div h2::before{
        width: 90%;
        height: 30px;
        top: -90%;
        left: -40%;
    }
}
/* !Hero */

/* About */

#about{
    background-color: var(--color-light);
    color: var(--color-darkBlue);
    width: var(--width-section);
    padding:2rem 0;
}

#about div.container h3{
    margin-bottom: 2rem;
}

#about div.container div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    /* text-align: justify; */
}
#about div.container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about div.container div :nth-child(3){
    grid-row: 2/4;
}

@media (max-width: 425px) {

    #about{
        width: 100%;
    }
    #about div.container div{
        grid-template-columns: 1fr;
    }
    #about div.container div :nth-child(3){
        grid-row: 4;
    }
    
}




/* !About */