@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root{
    --width-section: 1024px;
    --color-darkBlue: #010A13;
    --color-orange: #CD7A13;
    --color-light: #F7EDE2;
    --fontWeight-light: 300;
    --fontWeight-regular: 400;
    --fontWeight-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-darkBlue);
    color: var(--color-light);
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-weight: var(--fontWeight-bold);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}

/* Bootstrap button change */
button a{
    text-decoration: none;
    color: var(--color-light);
    
}

#contact div form button.sendForm:hover{
    cursor: not-allowed;
}

.btn:disabled{
    background-color: var(--color-orange);
    border: var(--color-darkBlue);
    color: var(--color-light);
}

.btn-primary{
    background-color: var(--color-orange);
    border: var(--color-orange);
}
.btn-primary:hover{
    background-color: var(--color-darkBlue);
    border: var(--color-darkBlue);
    color: var(--color-orange);
}
.btn-primary:active{
    background-color: var(--color-orange) !important;
    border: var(--color-darkBlue);
    color: var(--color-light);
    outline: 1px solid var(--color-darkBlue);
}
.btn-primary:focus-visible{
    background-color: var(--color-orange);
    border: var(--color-darkBlue);
    color: var(--color-light);
    outline: 1px solid var(--color-darkBlue);
    box-shadow: none;
}


/* NavBar */
nav.navbar{
    width: var(--width-section);
    margin: auto;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: var(--color-light);
    text-align: end;
}

.navbar a::after{
    content: "|";
    margin-left: 1.5rem;
}

.navbar li:last-child a::after{
    display: none;
}

.navbar a:hover::after{
    color: var(--color-light);
}
.navbar a:hover{
    color: var(--color-orange);
}



@media (max-width: 425px) {
    nav.navbar{
        width: 320px;
    }

    .navbar a::after{
        display: none;
    }

    nav.navbar>div.container-fluid{
        display: flex;
        justify-content: flex-end;
    }
}

/* !NavBar */

/* Hero */
#hero{
    height: 100dvh;
    /* width: var(--width-section); */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero div{
    width: var(--width-section);
    margin :auto;
    text-align: center;
}

#hero div h1{
    text-align: center;
    font-size: 8rem;
    font-weight: var(--fontWeight-bold);
    line-height: 6rem;

}
#hero div h1 span.firstName{
    letter-spacing: .5rem;
}

#hero div h2{
    position: relative;
    font-size: 2rem;
    font-weight: var(--fontWeight-light);
    letter-spacing: .9rem;
}
#hero div h2::before{
    content: "";
    width: 70%;
    height: 50px;
    z-index: -1;
    position: absolute;
    translate: 50% 50%;
    top: -70%;
    left: -20%;
    background: var(--color-orange);
    transform: rotate(-1deg);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 1024px) {
    #hero , #hero div{
        width: 100%;
    }

    #hero div h1{
        font-size: 4rem;
        line-height: 3rem;
        text-align: center;
    }
    #hero div h2{
        font-size: 1rem;
        letter-spacing: .5rem;
    }

    #hero div h2::before{
        width: 300px;
        height: 30px;
        top: -100%;
        left: -45%;
    }
}
/* !Hero */

/* About */

#about{
    background-color: var(--color-light);
    color: var(--color-darkBlue);
    padding-bottom: 2rem;
}

#about div.container{
    width: var(--width-section);
    margin: auto;
}

#about div.container div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
#about div.container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about div.container div :nth-child(3){
    grid-row: 2/4;
}

@media(max-width: 1024px){
    #about div.container{
        width: auto;
    }
    #about div.container div{
        grid-template-columns: 1fr;
    }
    #about div.container div :nth-child(3){
        grid-row: 1;
    }
}


/* !About */

/* Skills */

#skills{
    background-color: var(--color-darkBlue);
    color: var(--color-light);
    padding-bottom: 2rem;
}

#skills div{
    width: var(--width-section);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skills div img{
    height: 60px;
}

@media(max-width: 1024px){
    #skills{
        width: 100%;
    }
    #skills div{
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/* !Skills */

/* Projets */

#projects{
    background-color: var(--color-light);
    color: var(--color-darkBlue);
    padding-bottom: 2rem;
}

#projects div.cards{
    width: var(--width-section);
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects div.cards div.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects div.cards div.card h5.card-title{
    font-weight: 700;
    font-size: 1.5rem;
}

#projects div.cards div.card div.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects div.cards div.card img.card-img-top{                     
    object-fit: contain;
}

#projects div.cards div.card div.badges{
    font-size: .8rem;
    margin-bottom: .5rem;
}

#projects div.cards div.card div.badges span.badge{
    border: 2px solid var(--color-orange);
    background-color: RGBA(13,110,253,var(--bs-bg-opacity,0))!important;
    color: var(--color-orange)!important;
}

#projects div.cards div.card p.card-text{
    font-size: .8rem;
    font-weight: var(--fontWeight-light);
    color: var(--color-darkBlue);
    opacity: .8;
}

#projects div.cards div.card a.btn{
    width: 100%;
}

@media (max-width: 1024px) {
    #projects div.cards{
        width: 100%;
    }
}






/* 
#projects h4{
    width: var(--width-section);
    margin: auto;
    text-align: center;
    font-size: 1rem;
} */

@media (max-width: 1024px) {
    #projects h4{
        width: 100%;
    }
}

/* !Projets */

/* Contact */
#contact{
    width: var(--width-section);
    margin: auto;

}
#contact div{
    margin: auto;
}

#contact div form{
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

#contact div form :nth-child(3){ 
    grid-column: 1/3;
}

#contact div form :nth-child(4),#contact div form :nth-child(5){ 
    grid-column: 1/3;
    text-align: center;
}
#contact div form :nth-child(5), #contact div form :nth-child(6) { 
    grid-column: 1/3;
    margin: auto;
    text-align: center;
}

#contact div.socials{ 
    width: 300px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
}

#contact div.socials i{ 
    color: var(--color-orange);
    font-size: 3rem;
}

@media (max-width: 1024px) {
    #contact{
        width: 100%;
    }
    #contact div form{
        grid-template-columns: 1fr;
    }
    #contact div form :nth-child(3){ 
        grid-column: 1;
    }
    #contact div form :nth-child(4),#contact div form :nth-child(5){ 
        grid-column: 1;
    }
    #contact div form :nth-child(5), #contact div form :nth-child(6) { 
        grid-column: 1;
    }
}

/* !Contact */

/* Footer */

footer{
    width: var(--width-section);
    margin: auto;
    background-color: var(--color-darkBlue);
    color: var(--color-light);
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 1024px) {
    footer{
        width: 100%;
    }
}

/* !Footer */




